.hero-wrapper {
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding: 100px;
  background-image: url(../assets/img/hero-background.png);
  background-size: cover;
  border-radius: 40px;
  overflow: hidden;
}

.hero-background {
  z-index: -1;
  position: absolute;
  top: -100px;
  left: -100px;
  width: 120%;
  height: 120%;
}

.hero-offer {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: 40px;
  max-width: 530px;
}

.hero-offer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 100px;
  padding: 20px 0;
}
