#favorite > .section-header {
  text-align: center;
}

.carousel-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.carousel-wrapper__button-container {
  max-width: 60px;
  max-height: 60px;
}

.carousel-wrapper__button {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 100px;
}

.carousel {
  max-width: 480px;
  overflow: hidden;
}

.carousel__slide-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.carousel__slide {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  max-width: 100%;
}

.carousel__slide img {
  max-height: 480px;
}

.carousel__slide-description {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.carousel-controls {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
}

.carousel-controls__control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
}
